<!doctype html>

<html>
  <head>
    <link rel="icon" href="img/weather.png">
    <title>Help</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    {{>header}}
      <div class="main-content">
        <h1>{{example}}</h1>
      </div>
    {{>footer}}
</body>
</html>